body {
    background: rgb(42, 0, 255);
    background: linear-gradient(90deg, rgba(42, 0, 255, 1) 0%, rgba(220, 223, 236, 1) 100%);
    overflow-x: hidden;

}

html {
    overflow-x: hidden;
}

.carta {
    -webkit-box-shadow: 20px 4px 51px -3px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 20px 4px 51px -3px rgba(0, 0, 0, 0.66);
    box-shadow: 20px 4px 51px -3px rgba(0, 0, 0, 0.66);
    background: whitesmoke;
    color:black;
}

label{
    color: black;
}
h1 {
    color: black;
    font-weight: bold;
}

input {
    color: #000;
}

.titulochido{
    font-size: 22px;
}



.boton {
    margin: 0;
    padding: 8px 9px !important;
    background-color: rgba(17, 8, 164, 1) 59%;
    color: #000;
    text-decoration: none;
    border: none;
}

.boton-recicladora:hover {
    background-color: rgba(17, 8, 164, 1);
    color: white;
    /* transform: rotate(0.9turn); */
}